<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h3 class="card-header">Add user</h3>

        <div class="card-body">
          <form [formGroup]="form" (submit)="onSubmit(form.value)">
            <div class="row">
              <div class="col-md-12">
                <label>Nombre:</label>
                <input formControlName="name" type="text" class="form-control" placeholder="example">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Correo:</label>
                <input type="email" formControlName="email" class="form-control" placeholder="example@example.com">
              </div>

              <div class="col-md-6">
                <label>Contraseña:</label>
                <input type="password" formControlName="password" class="form-control" placeholder="password">
              </div>
            </div>
            <br>
            <input type="submit" value="Add" class=" form-control btn btn-success btn-sm">
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: </li>
          <li class="list-group-item">Email: </li>
          <div>
            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">Edit</button>
            <button style="margin-left: 1%;" class="btn btn-danger btn-sm">Delete</button>
          </div>
        </ul>
      </div>
    <br>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: </li>
          <li class="list-group-item">Email: </li>
          <div>
            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">Edit</button>
            <button style="margin-left: 1%;" class="btn btn-danger btn-sm">Delete</button>
          </div>
        </ul>
      </div>
    </div>
    
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (submit)="onSubmit(form.value)">
            <div class="row">
              <div class="col-md-12">
                <label>Nombre:</label>
                <input formControlName="name" type="text" class="form-control" placeholder="example">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Correo:</label>
                <input type="email" formControlName="email" class="form-control" placeholder="example@example.com">
              </div>

              <div class="col-md-6">
                <label>Contraseña:</label>
                <input type="password" formControlName="password" class="form-control" placeholder="password">
              </div>
            </div>
            <br>
            <input type="submit" value="Add" class=" form-control btn btn-success btn-sm">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>